@page

<div class="container">
    <div class="mx-auto text-center">
        <h1 class="font-weight-bold display-4">
            Who are we?
        </h1>
        <p class="lead">
            We're the developers, the originators, and the quirky ones who built this applications
        </p>
    </div>
</div>
<div class="container my-5 bg-light pt-3 pb-5 px-5 shadow-sm">
    <div class="mx-auto text-center">
        <h2 class="display-2">
            Lucas Cordova
        </h2>
    </div>
    <p class="lead">
        Software Engineer Professor at Oregon Tech. Almost has a PhD.
    </p>
</div>
<div class="container my-5 bg-light pt-3 pb-5 px-5 shadow-sm">
    <div class="mx-auto text-center">
        <h2 class="display-2">
            Cobe Greene
        </h2>
    </div>
    <p class="lead">
        Software Engineer Major at Oregon Tech. Almost 6ft tall, so close.
    </p>
</div>
