@page "{step?}"
@model AllModel
@{
}


<div class="container">
    <div class="mx-auto text-center">
        <h1 class="font-weight-bold display-4">
            Your Surveys
        </h1>
        <p class="lead">
            All your surveys are below.
        </p>
    </div>
</div>
<div class="container mt-5">
    <div class="row text-center">
        @foreach (var survey in await Model.GetSurveys())
        {
            <div class="col-lg-4 col-md-6 col-sm-12 mb-5">
                <div class="card shadow-sm">
                    <div class="card-header">
                        @if (survey.IsCompleted)
                        {
                            <span class="text-success">
                                Completed
                            </span>
                        }
                        else
                        {
                            <span>
                                Not Finish
                            </span>
                        }
                    </div>
                    <div class="card-body">
                        <h1 class="card-title">
                            @survey.PostedTime.ToString("dd MMMM yyyy")
                        </h1>
                        <div class="btn-group">
                            <a class="btn btn-primary text-light"
                               asp-page="/Surveys/Details"
                               asp-route-id="@survey.Id"
                               role="button">
                                Details
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<div class="container">
    <div class="d-flex justify-content-between">
        <div>
            @if (await Model.IsPrevious())
            {
                <a asp-page="/Surveys/All"
                   asp-route-step="@(Model.Step - 1)">
                    <i class="fas fa-arrow-left"></i>
                    Previous
                </a>
            }
        </div>
        <div>
            @if (await Model.IsNext())
            {
                <a asp-page="/Surveys/All"
                   asp-route-step="@(Model.Step + 1)">
                    Next
                    <i class="fas fa-arrow-right"></i>
                </a>
            }
        </div>
    </div>
</div>

