@using HumanErrorProject.Data.Models
@model PreAssignment


<div class="container my-5 bg-light pt-3 pb-5 px-5 shadow-sm">
    <div class="mx-auto text-center">
        <h2 class="display-2 text-danger">
            Missing Methods Declarations
        </h2>
    </div>
    <table class="table table-striped table-dark">
        <tbody>
        @foreach (var method in ((PreAssignmentMissingMethodsFailureReport) Model.PreAssignmentReport).MissingMethodDeclarations)
        {
            <tr>
                <td class="align-middle">
                    @method.AstType
                </td>
                <td class="align-middle">
                    @method.PreprocessorDirective
                </td>
                <td class="align-middle">
                    @method.AstMethodRegexExpression
                </td>
                <td class="align-middle">
                    @method.AstMethodParameterRegexExpression
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>
<div class="container my-5 bg-light pt-3 pb-5 px-5 shadow-sm">
    <div class="mx-auto text-center">
        <h2 class="display-2">
            Debug
        </h2>
        <p>
            Resubmit and debug the submission.
        </p>
        <form method="post">
            <div class="form-group">
                <button class="btn btn-primary" type="submit">
                    Resubmit
                </button>
            </div>
        </form>
    </div>
</div>