@model HumanErrorProject.Data.Models.PreAssignment

<div class="container my-5 bg-light pt-3 pb-5 px-5 shadow-sm">
    <div class="mx-auto text-center">
        <h2 class="display-2 text-danger">
            No Class Found
        </h2>
        <p class="lead">
            '@Model.Solution.Name' class was not found in solution.
        </p>
    </div>
</div>