@model HumanErrorProject.Data.Models.PreAssignment


<div class="container my-5 bg-light pt-3 pb-5 px-5 shadow-sm">
    <div class="mx-auto text-center">
        <h2 class="display-2">
            Pending ...
        </h2>
        <p>
            The assignment is currently going through the engine.
        </p>
        <form method="post">
            <div class="form-group">
                <button class="btn btn-primary" type="submit">
                    Resubmit
                </button>
            </div>
        </form>
    </div>
</div>