@model int

<ul class="nav navbar-nav">
    <li class="nav-item">
        <a class="nav-link" asp-page="/Analysis/Index"
           asp-route-id="@Model">
            Analysis
        </a>
    </li>
</ul>