@page
<div class="container">
    <div class="mx-auto text-center">
        <h1 class="font-weight-bold display-4">
            Human Error Project
        </h1>
        <p class="lead">
            Welcome to the Human Error Project. A place to resolve all of your mistakes.
        </p>
    </div>
</div>